@charset "utf-8";
/* CSS Document */
body, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, ul, li{
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

img {
    border: none;
}


input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    /*color: #656565;*/
}

/*清浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background: #eee;

    --text-color: #f3f1f1;
	--background-color: #f3f1f1;
	--background-color-2: #ca900c;
	--background-color-3: #202692;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
}


/* Page Loader */
 .loadableLoading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.loadableLoading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}
.LoadingLabel{
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% + 60px);
	left: calc(50% - 60px);
    font-size: 14px;
    color: '#808494';

}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}
