.profileIntroBox {
    /*margin-top: 20px;*/
    /*background: #f0f0f0;*/
    background: #F9F9F9;
    /*box-shadow: 0 0 10px 7px rgba(218, 218, 218, 0.9);*/
}

.mainRtitle {
    /*width: 300px;*/
    height: 25px;
    padding: 10px 10px 20px;
    background: #F9F9F9;
    position: relative;
    margin-bottom:15px;
}


.mainRtitle h4 {
    width: 100%;
    height: 100%;
}

.mainRtitle h4 span {
    font-size: 16px;
    /*font-weight: 400;*/
    color: #666633;
    border-bottom: 2px solid #edefee;
    display: block;
    /*width: 100%;*/
    height: 25px;
    line-height: 20px;
    position: relative;
    float:left;
}

.mainRtitle h4 span em {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #666633;
    left: 0;
    bottom: -2px;
    overflow: hidden
}

.profileIntroContent {
    /*margin: -0.3125rem 0 0;*/
    padding: 10px 10px;
    min-height: 100px;
    /*background: #F9F9F9;*/
}

.profileIntroUserInfo {
    display: flex;
    flex-direction: row ;
    height: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
    border-bottom:1px solid #e3e3e3;
}
.profileIntroUserInfo img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.profileIntroUserInfo span{
    display: flex;
    flex-direction: column ;
    justify-content:center;
    margin-left:15px;
    color:#3d3d3d;
    font-size:20px;
    font-weight:500;

}
.profileIntroBlogInfo {
    display: flex;
    flex-direction: row ;
    justify-content:center;
    height: 60px;
    /*border-bottom:1px solid #e3e3e3;*/
}
.profileIntroBlogInfo div{
    display: flex;
    flex-direction: column ;
    justify-content:center;
    margin-right:30px;

}
.profileIntroBlogInfo div span:not(:first-child){
    font-weight:500;

}
.profileIntroContact {
    display: flex;
    flex-direction: row ;
    justify-content:center;
    height: 60px;
    border-bottom:1px solid #e3e3e3;
}
.profileIntroContact a{
    display: flex;
    flex-direction: column ;
    justify-content:center;
    margin-right: 30px;

}
.profileIntroContact a:hover{

    fill:#f0aa00;
}
.profileIntroContact img{

    width:35px;
    height: 35px;
    margin-right: 25px;
    /*border-radius: 50%;*/
}
.profileIntroContact img:hover{


    fill:#f0aa00;
}


.profileIntroContact li{
    display: flex;
    flex-direction: column ;
    justify-content:center;
}

.profileIntroMotto{
    display: flex;
    flex-direction: row ;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom:1px solid #e3e3e3;
}
