.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 150px;
    padding:20px 10px;
    background: #F9F9F9;
    cursor: pointer;
}
.container:hover{
    box-shadow: 3px 3px 7px #9a9292;
}
.container>div:first-child>img{
    width: auto;
    height: 110px;
}

.container>div:first-child{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomContainer{
    flex: 5;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    display: block;
    color: black;
    font-size: 16px;
    height: 50px;
}
.bottomContainer>div{
    display: flex;
    flex-direction: row;
    border-top: dashed thin #ddd;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
}
.bottomContainer>div>p{
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
}
.summary{
    font-size: 14px;
    margin-bottom: 5px;
}
.bottomContainer>div>p img{
    margin-right: 5px;
}
.bottomContainer>div>p>span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.bottomContainer>div span>img{
    width: 16px;
}
.lastSpan{
    font-size: 13px;
}
.lastSpan>span{
    font-size: 12px;
}


/* Universal styling */
.shaftLoad {
  /*margin: 50px auto;*/
  /*width: 60px;
  height: 30px;*/
}
.shaftLoad > div {
  float: left;
  /*background: #893878;
  height: 100%;
  width: 5px;*/
  margin-right: 1px;
  display: inline-block;
}
.shaftLoad .shaft1 {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.shaftLoad .shaft2 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.shaftLoad .shaft3 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.shaftLoad .shaft4 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.shaftLoad .shaft5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.shaftLoad .shaft6 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.shaftLoad .shaft7 {
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.shaftLoad .shaft8 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.shaftLoad .shaft9 {
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.shaftLoad .shaft10 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


/* Shaft 7 */
.shaftLoad > div {
 /* background-color: red;
  height: 122px;*/

	width: 10px;
    height: 10px;
    border-top: 0.5px solid #666633;
    border-left: 0.5px solid #666633;
    transform:rotate(135deg);
    opacity:0.7;
    display:none;
    /*
      -webkit-animation: loading7 1s infinite ease-in-out;
      -moz-animation: loading7 1s infinite ease-in-out;
      -o-animation: loading7 1s infinite ease-in-out;
      animation: loading7 1s infinite ease-in-out;
      -webkit-transform: translateY"("-10px")";
      -moz-transform: translateY"("-10px")";
      -ms-transform: translateY"("-10px")";
      -o-transform: translateY"("-10px")";
      transform: translateY"("-10px")";
  */

}

@-webkit-keyframes loading7 {
  50% {
    /*background: #a7b6c6;*/
	opacity:0.3;
    -webkit-transform: translateY"("10px")";
    -moz-transform: translateY"("10px")";
    -ms-transform: translateY"("10px")";
    -o-transform: translateY"("10px")";
    transform: translateY"("10px")";
  }
}
@-moz-keyframes loading7 {
  50% {
        /*background: #a7b6c6;*/
	opacity:0.3;
    -webkit-transform: translateY"("10px")";
    -moz-transform: translateY"("10px")";
    -ms-transform: translateY"("10px")";
    -o-transform: translateY"("10px")";
    transform: translateY"("10px")";
  }
}
@-o-keyframes loading7 {
  50% {
        /*background: #a7b6c6;*/
	opacity:0.3;
    -webkit-transform: translateY"("10px")";
    -moz-transform: translateY"("10px")";
    -ms-transform: translateY"("10px")";
    -o-transform: translateY"("10px")";
    transform: translateY"("10px")";
  }
}
@keyframes loading7 {
  50% {
        /*background: #a7b6c6;*/
	opacity:0.3;
    -webkit-transform: translateY"("10px")";
    -moz-transform: translateY"("10px")";
    -ms-transform: translateY"("10px")";
    -o-transform: translateY"("10px")";
    transform: translateY"("10px")";
  }
}

.container:hover .shaftLoad > div {
    display:block;
    -webkit-animation: loading7 1s infinite ease-in-out;
    -moz-animation: loading7 1s infinite ease-in-out;
    -o-animation: loading7 1s infinite ease-in-out;
    animation: loading7 1s infinite ease-in-out;
    -webkit-transform: translateY"("-10px")";
    -moz-transform: translateY"("-10px")";
    -ms-transform: translateY"("-10px")";
    -o-transform: translateY"("-10px")";
    transform: translateY"("-10px")";
}
