.comentContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    min-height: 80px;
    padding:15px 10px;
    background: #F9F9F9;
    cursor: pointer;
}

.comentContainer .comentImg{
    /*flex: 1;*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:2px 2px;
    /*max-width:5%;*/
}
.comentContainer .comentImg>img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.comentRightContain{
    flex: 4;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left:5px;
}
.comentRightContain .comentInfo{
    display: flex;
    flex-direction: row;
    /*border-top: dashed thin #ddd;*/
    padding-top: 2px;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 15px;
    color: #999;
    /*align-items: center;*/
}
.comentRightContain .comentInfo span{
    margin-right: 15px;
}
.comentRightContain .comentInfo>div>span:first-child{
    color: #72b939;
}
.comentRightContain .comentInfo a{
    margin-right: 10px;
    color: #72b939;
}

.comentRightContain .comentContent{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    min-height: 50px;
    align-items:center;
}

.comentRightContain .comentChild{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    min-height: 50px;
    align-items:center;
}
.comentRightContain .comentChild a{
    margin-right: -2px;
}

.comentRightContain .comentEditor{
    display: flex;

    flex-direction: column;
    font-size: 16px;
    min-height: 50px;
    padding-left:20px;

    width:100%;
    /*min-width: 650px;*/
    justify-content: space-between;
}

.textarea {
  padding: 8px;
  font-size: 14px;
  width: calc(100% - 30px);
  /*width: 100%;*/
  min-height: 60px;
  line-height: 16px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  resize: vertical;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  background: #f6f8fa;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  /*
  background: #eee;
  margin: 0 0 16px 16px;
  margin-left: auto;
  margin-right: auto;
  */

}

.textarea::placeholder {
  color: #aeb4ba;
  opacity: 1;
}

.textarea:focus {
    border: 1px solid #668800;
}
.footer {

  padding: 3px 0px;
  background: #f6f8fa;
  border-radius: 3px 3px 0 0;
  /*margin-bottom: 10px;*/
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  /*margin-bottom: 5px;
  flex-basis:100%*/

}
.cdSeeAll {
  /*margin: 30px 0;*/
  height: 40px;
  text-align: center;
  margin-right: 15px;
  /*text-transform: uppercase;*/
}
.cdSeeAll a:visited{
    text-decoration:none;
}
.cdSeeAll a:active{
    text-decoration:none;
}
.cdSeeAll a:hover{
    text-decoration:none;
}
.cdSeeAll a:link{
    text-decoration:none;
}
.btnF {
    /*border: none;*/
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 0px 10px 0px 15px;
    /*text-transform: uppercase;*/
    font-weight: normal;
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    /*background: #1cd1aa;*/
    /*background: transparent;*/
    background: #7d8002;
    color: #fff;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
    /*min-width: 170px;
    margin-bottom: 5px;*/
    opacity: 0.7;
}
.btnF:hover {
    background: #886600;
    color: #1cd1aa;
    opacity: 1;
   /*background: #1cd1aa;
    color: #fff;*/
}

@media only screen and (max-width: 879px) {
    .comentRightContain .comentInfo span{
        margin-right: 2px;
    }
    .comentRightContain .comentInfo a{
        margin-right: 1px;
        width:35px;

    }
    .comentRightContain .comentInfo>div>span{
        display: flex;
        flex-direction: column;
    }

}
