/*返回顶部*/
.rollbar {
/*     border-radius: 25px;
bottom: 20px; */
    border-radius: 5px;
    bottom: 70px;
    /* display: none;*/
    position: fixed;
    right: 20px;
    z-index: 999;
}
.rollbar ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    /*width: 50px;*/
    width: 44px;
}
.rollbar li {
    margin-top: 5px;
    opacity: 0.4;
    position: relative;
    text-align: center;
}
.rollbar a {
    background-color: #666;
    border-radius: 22px;
    color: #fff;
    display: block;
    height: 44px;
    position: relative;
    z-index: 2;
}
.rollbar a:hover {
    color: #fff;
}
.rollbar .fa {
    font-size: 34px;
    line-height: 40px;
}
.rollbar .fa-comments {
    font-size: 24px;
}
.rollbar li:hover, .rollbar li:hover h6 {
    opacity: 0.9;
}
.rollbar li:hover h6 {
    right: 100%;
}

.topArrow1,.topArrow2{
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:9px;
    top:2px;
    z-index: 5;/*兼容ie8-*/
    border-top:13px transparent dashed;
    border-left:13px transparent dashed;
    border-right:13px transparent dashed;
    border-bottom:13px transparent dashed;
    overflow:hidden;

}
.topArrow1{
    border-bottom:13px #eee solid;
}
.topArrow2{
    top:6px;/*重要*/
    border-bottom:13px #666  solid;
}
