.interactContain {
    width: 70%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    justify-content: flex-start;
    background: #f0f0f0;
    padding-top: 20px;
    /*min-width: 945px;*/
    min-width: 945px;
}


/*classes / CSS modules reference to override styling*/
.wrapper {
}

.navButton {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #586069;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
}

.navButton.selected {
  background: white;
  border-color: #d1d5da;
  border-radius: 3px 3px 0 0;
}

.header {
  padding: 6px 10px 0;
  background: #f6f8fa;
  border-radius: 3px 3px 0 0;
  /*margin-bottom: 10px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width:800px;*/
  flex-direction: row;
  /*flex-basis:100%*/

}

.textarea {
  padding: 8px;
  font-size: 14px;
  /*width: calc(100% - 16px);*/
  /*width: 100%;*/
  min-height: 150px;
  line-height: 22px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  resize: vertical;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  /*background: #ff0000;*/
  margin-top: 5px;

  /*
  background: #eee;
  margin: 0 0 16px 16px;
  margin-left: auto;
  margin-right: auto;
  */

}

.textarea::placeholder {
  color: #aeb4ba;
  opacity: 1;
}

.textarea:focus {
    border: 1px solid #668800;
}

.previewWrapper {
  padding: 8px;
}

.content {
  /*margin: 0 16px 16px;*/
  font-size: 14px;
  background: #fff;
  width: 100%;
  padding-left:32px;
  padding-right: 32px;

}

.comentCellList{
    background: #fff;
}

.footer {

  padding: 6px 10px 0;
  background: #f6f8fa;
  border-radius: 3px 3px 0 0;
  /*margin-bottom: 10px;*/
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  /*align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;*/
  flex-wrap: wrap;
  margin-bottom: 20px;
  /*flex-basis:100%*/

}
.footerTip {
    color: #A0A0A0;
    margin-left: 20px;
}
.cdSeeAll {
  /*margin: 30px 0;*/
  height: 50px;
  text-align: center;
  margin-right: 20px;
  /*text-transform: uppercase;*/
}
.btnF {
    /*border: none;*/
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 0px 20px;
    /*text-transform: uppercase;*/
    font-weight: normal;
    font-size: 16px;
    border-radius: 30px;
    /*font-family: 'Montserrat', sans-serif;*/
    line-height: 40px;
    /*background: #1cd1aa;*/
    /*background: transparent;*/
    background: #668800;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    /*min-width: 170px;*/
    margin-bottom: 20px;
    opacity: 0.7;
}
.cdSeeAll a:active{
    text-decoration:none;
}
.cdSeeAll a:hover{
    text-decoration:none;
}
.cdSeeAll a:link{
    text-decoration:none;
}
.btnF:hover {
    background: #886600;
    color: #1cd1aa;
    opacity: 1;
   /*background: #1cd1aa;
    color: #fff;*/
}
