.homeAntdBox {
    /*list-style: none;*/
    position: relative;
    /*max-width: 1200px;*/
    /*padding: 20px;*/
    width:100%;
    background: #fff;
    /*margin: 0 auto;*/

    /*margin-bottom: 15px;*/
    /*overflow: hidden;*/
}
